@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background: #fff;
  font: 400 1rem/1.5 "IBM Plex Sans Thai", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

a {
  color: #3F3027;
  transition: all 300ms;
}
a:hover {
  text-decoration: none;
  color: #C0AB9A;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
}

* {
  box-sizing: border-box;
}

img {
  display: inline-block;
  max-width: 100%;
}

.bg-gradient, .card-tabein .card-price {
  background: linear-gradient(45deg, #3F3027 0%, #765642 100%);
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

input[type=text], input[type=email] {
  -webkit-appearance: none;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background: #fff;
  border: none;
  border-radius: 8px;
  color: #555;
  font-size: inherit;
  margin: 0;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  font-family: Kanit;
  font-weight: 200;
}

.select-box {
  position: relative;
  width: 100%;
}
.select-box select {
  -webkit-appearance: none;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background: #fff;
  border: none;
  border-radius: 8px;
  color: #555;
  font-size: inherit;
  margin: 0;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  font-family: Kanit;
  font-weight: 300;
}
.select-box select:focus {
  -webkit-appearance: none;
}
.select-box:after {
  content: "";
  display: block;
  background: url("../images/icons/arr-down.svg") no-repeat center center;
  background-size: contain;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 15px;
  right: 10px;
}

.search-form {
  width: 1000px;
  margin: auto;
}
.search-form form {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  width: 100%;
  justify-content: space-between;
}
.search-form form .column {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.search-form form .column button {
  width: 100%;
}
.search-form form .column button img {
  margin-left: 30px;
}

.btn-main {
  background: #7B5C4B;
  border: 1.5px solid #D6D6D6;
  border-radius: 7px;
  padding: 8px 30px;
  color: #fff;
  height: 40px;
}

.btn-toggle {
  background: #F7F5F2;
  font-size: 28px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  width: 100%;
  margin: 32px 0 20px;
  padding: 0 16px;
  border-radius: 8px;
  font-weight: 600;
  font-family: "Kanit", sans-serif;
  outline: none;
}
.btn-toggle img {
  transition: all 300ms;
}
.btn-toggle:active, .btn-toggle:focus {
  border: none;
  outline: none;
}

.card-number {
  position: relative;
  width: 100%;
  background: linear-gradient(135deg, #c3862b, #f1d085, #f3d169, #e8a45c, #b68340);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 3px;
  color: #171411;
}
.card-number .card-number-inner {
  background: #fff;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card-number .number {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 800;
  font-family: "Kanit", sans-serif;
  padding: 8px 0 3px;
}
.card-number .bottom {
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #C3862B;
}
.card-number .bottom .price-label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 45%;
  height: 100%;
  padding: 3px 15px 3px;
  font-size: 22px;
  background: linear-gradient(45deg, #c3862b 0%, #f1d085 25%, #f3d169 50%, #e8a45c 75%, #b68340 100%);
}
.card-number .bottom .price {
  width: 65%;
  font-size: 24px;
  font-weight: 600;
  color: #f00;
}

.tabien-card {
  background: #fff;
  width: 100%;
  padding: 8px;
  border-radius: 16px;
}
.tabien-card * {
  color: #000;
}
.tabien-card .tabien-thumb {
  width: 100%;
  position: relative;
}
.tabien-card .tabien-thumb img {
  width: 100%;
}
.tabien-card .tabien-thumb .tabien-text {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  line-height: 1.3;
  height: fit-content;
  font-family: "Sarabun", sans-serif;
}
.tabien-card .tabien-thumb .tabien-text .number {
  font-size: 38px;
  font-weight: 700;
}
.tabien-card .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0 0;
}
.tabien-card .bottom .tabien-price {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 300;
}
.tabien-card .bottom .tabien-price strong {
  font-size: 16px;
  display: block;
  font-weight: 600;
}
.tabien-card .bottom .sum {
  background: #f00;
  padding: 2px;
  font-size: 8px;
  color: #fff;
  text-align: center;
  width: 51px;
  height: 25px;
  line-height: 1;
  border-radius: 25px;
}
.tabien-card .bottom .sum strong {
  font-size: 14px;
  display: block;
  color: #fff;
}

header {
  padding: 0;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
}
header .top-bar {
  padding: 10px 0;
  background: #3F3027;
}
header .top-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .top-bar a {
  color: #fff;
  position: relative;
}
header .top-bar span {
  display: block;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
}
header .top-bar-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 0.5px solid #C0AB9A;
  font-size: 14px;
}
header .top-bar-2 .left img {
  width: 25px;
}
header .top-bar-2 .right {
  display: flex;
  align-items: center;
  gap: 12px;
}
header .top-bar-2 .right a {
  display: flex;
  align-items: center;
  gap: 9px;
}
header .logo {
  width: 152px;
  display: block;
}
header .logo img {
  display: block;
  width: 100%;
}
header .d-flex {
  align-items: center;
  justify-content: space-between;
}
header .menu-container {
  padding: 15px 0;
}
header .menu-top {
  font-size: 14px;
}
header .menu-top ul {
  display: flex;
  gap: 36px;
  justify-content: space-between;
  align-items: center;
}
header .menu-top ul li {
  list-style: none;
}
header .menu-top ul li a:hover {
  color: #3F3027;
}

.menu-hamberger {
  display: none;
}

.card-tabein {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.card-tabein.card-special {
  background: #fff;
}
.card-tabein .tabien-thumb {
  position: relative;
}
.card-tabein .card-content {
  position: absolute;
  width: fit-content;
  height: fit-content;
  inset: 0;
  margin: auto;
  text-align: center;
  font-family: "Sarabun", sans-serif;
}
.card-tabein .card-content p {
  margin: 0;
  font-size: 16px;
}
.card-tabein .card-content .card-title {
  font-size: 38px;
  font-weight: 700;
  margin: 15% 0 5px;
}
.card-tabein .card-price {
  font-size: 24px;
  font-weight: 600;
  font-family: "Kanit", sans-serif;
  color: #fff;
  height: 35px;
  border-radius: 2px;
  border: 2px solid #000000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-tabein.big .card-content .card-title {
  font-size: 58px;
}
.card-tabein.big .card-content p {
  font-size: 21px;
}

.tabien-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}
.tabien-list li {
  list-style: none;
}

.tabien-box .tabien-list-box {
  display: none;
}
.tabien-box.show .tabien-list-box {
  display: block;
}
.tabien-box.show .btn-toggle img {
  transform: rotate(180deg);
}

.banner-main {
  width: 100%;
  overflow: hidden;
}
.banner-main a, .banner-main img {
  display: block;
  width: 100%;
}

.home-search {
  background: url("../images/bg-form-search.jpg");
  background-size: 100%;
  padding: 50px;
  width: 100%;
  color: #fff;
}
.home-search h2 {
  margin: 0 0 15px;
  line-height: 1;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 20px;
}

.special-tabien {
  padding: 50px 0;
}
.special-tabien .special-tabien-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1080px;
  margin: 0 auto;
}
.special-tabien .special-tabien-content .left {
  width: calc(100% - 630px);
  text-align: center;
  padding: 0 35px 0 0;
}
.special-tabien .special-tabien-content .left h2, .special-tabien .special-tabien-content .left h3, .special-tabien .special-tabien-content .left h4 {
  font-family: "Kanit", sans-serif;
}
.special-tabien .special-tabien-content .left h2 {
  margin: 0 0 0px;
  font-size: 50px;
  font-weight: 700;
}
.special-tabien .special-tabien-content .left h3 {
  font-size: 37px;
  color: #3F3027;
  font-weight: 400;
  margin: 0;
}
.special-tabien .special-tabien-content .left h4 {
  font-size: 32px;
  background: #C0AB9A;
  padding: 12px;
  color: #3F3027;
  font-weight: 600;
  margin: 20px 0 0;
  border-radius: 4px;
}
.special-tabien .special-tabien-content .left .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.special-tabien .special-tabien-content .left .contact a {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-size: 26px;
  font-weight: 700;
}
.special-tabien .special-tabien-content .left .contact a img {
  width: 25px;
}
.special-tabien .special-tabien-content .right {
  width: 630px;
}
.special-tabien .special-tabien-content .right .first {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;
  margin-bottom: 22px;
}
.special-tabien .special-tabien-content .right .second {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
}

.premium-number {
  background: url("../images/bg-wood.jpg") no-repeat center/cover;
  min-height: 600px;
  color: #fff;
  text-align: center;
  padding: 80px 0;
}
.premium-number h4 {
  margin: 15px 0 22px;
  font-size: 30px;
  font-weight: 500;
  font-family: "Kanit", sans-serif;
}
.premium-number .number-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
  justify-content: center;
  width: 100%;
  padding: 0px 0;
  list-style: none;
}

.tabien-section {
  background: #EFE8E2;
  padding: 60px 0;
}
.tabien-section h3 {
  font-weight: 700;
}
.tabien-section h4 {
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0 30px;
}
.tabien-section nav {
  display: flex;
  gap: 5px;
}
.tabien-section nav a {
  border: 1px solid #7B5C4B;
  border-radius: 3px;
  padding: 0 8px;
}

footer {
  background: #3F3027;
  padding: 0px;
  color: #fff;
}
footer .footer-top {
  background: url("../images/bg-wood.jpg") no-repeat center/cover;
  margin: 0;
  padding: 66px 0;
}
footer .footer-top .content {
  display: flex;
  align-items: center;
  gap: 16px;
}
footer .footer-top h3, footer .footer-top a {
  flex: 1;
}
footer .footer-top h3 {
  font-size: 27px;
  font-family: "Kanit", sans-serif;
}
footer .footer-top .content-card {
  display: flex;
  background: #fff;
  padding: 16px;
  border-radius: 16px;
  color: #000;
  gap: 16px;
  align-items: center;
  line-height: 1.3;
}
footer .footer-top .content-card img {
  width: 60px;
}
footer .footer-top .content-card p {
  margin: 0;
}
footer .footer-top .content-card strong {
  font-weight: 700;
}
footer a {
  color: #fff;
}
footer .flex {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 130px;
}
footer .left,
footer .center,
footer .right {
  flex: 1;
}
footer .left .logo {
  width: 198px;
  display: block;
}
footer .left .logo img {
  width: 100%;
}
footer .left h3 {
  font-size: 22px;
  margin: 18px 0 12px;
  font-weight: 600;
}
footer .left p {
  font-size: 16px;
}
footer .left a {
  display: block;
  font-weight: 600;
}
footer .center nav a {
  display: block;
  padding: 6px 0;
  font-size: 16px;
}
footer .right .dbd {
  display: block;
}
footer .right .dbd p {
  margin: 12px 0 12px;
}
footer .right .social {
  display: flex;
  gap: 25px;
  margin: 40px 0 0;
}
footer .right .social a {
  border-radius: 50%;
  transition: all 300ms;
}
footer .right .social a:hover {
  transform: scale(1.1);
}
footer .copyright {
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
  background: #171411;
  margin: 40px 0 0;
}

.shadow {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  display: none;
}

@media only screen and (max-width: 1196px) {
  .menu-hamberger {
    display: block;
    width: 45px;
    padding: 5px 10px;
    background: #3F3027;
    position: fixed;
    top: 15px;
    right: 10px;
    z-index: 12;
  }
  .menu-hamberger img {
    display: block;
    width: 100%;
  }
  .container {
    width: 98%;
    max-width: none;
  }
  header {
    padding: 10px 0;
    height: auto;
  }
  header .logo {
    width: 60px;
    margin: 0;
    position: static;
  }
  header .menu-top {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background: #3F3027;
    z-index: 13;
    padding: 0;
    width: 300px;
    right: -100%;
    transition: all 300ms;
  }
  header .menu-top.show {
    right: 0;
  }
  header .menu-top ul {
    display: block;
    width: 100%;
  }
  header .menu-top ul li {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  header .menu-top ul li:nth-child(3), header .menu-top ul li:nth-child(4) {
    padding-left: 0;
    padding-right: 0;
  }
  header .menu-top ul li a {
    width: 100%;
    display: block;
    padding: 20px 25px;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 767px) {
  .home-search {
    padding: 20px 20px 50px;
  }
  .home-search .search-form form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .home-search .search-form form .column {
    width: 100%;
  }
  .box-tabien .tabien-select {
    position: static;
    width: 100%;
    padding: 10px 0 20px;
  }
  .box-tabien .tabien-select .select-box {
    width: 100%;
  }
  .tabien-list ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .tabien-ig ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .tabien-ig ul li:nth-child(2n) {
    margin-top: 0;
  }
  .why-9na {
    padding: 0px 0;
  }
  .why-9na .why-img {
    width: 100%;
  }
  .why-9na .why-box-text {
    width: 100%;
    position: static;
    padding: 20px;
  }
  footer {
    padding: 30px 0;
    clear: both;
  }
  footer .copyright-foot {
    padding: 10px 0 0;
  }
  footer ul h3 {
    margin: 20px 0 10px;
  }
}
@media only screen and (max-width: 479px) {
  .home-search .search-form form {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .home-search .search-form form .column.last {
    padding-right: 20px;
  }
  .home-search .search-form form .column.last button {
    right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
