.btn-main{
  background:$themecolor1;
  border:1.5px solid #D6D6D6;
  border-radius: 7px;
  padding:8px 30px;
  color: #fff;
  height: 40px;
}

.btn-toggle {
  background: #F7F5F2;
  font-size: 28px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  width: 100%;
  margin: 32px 0 20px;
  padding: 0 16px;
  border-radius: 8px;
  font-weight: 600;
  font-family: "Kanit", sans-serif;
  outline: none;

  img {
    transition: all 300ms;
  }

  &:active, &:focus {
    border: none;
    outline: none;
  }
}