.card-number {
  position: relative;
  width: 100%;
  background: linear-gradient(
    135deg,
    #c3862b,
    #f1d085,
    #f3d169,
    #e8a45c,
    #b68340
  );
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 3px;
  color: $textcolor2;

  .card-number-inner {
    background: #fff;
    border-radius: 16px;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .number {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 800;
    font-family: "Kanit", sans-serif;
    padding: 8px 0 3px;
  }

  .bottom {
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #C3862B;

    .price-label {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 45%;
      height: 100%;
      padding: 3px 15px 3px;
      font-size: 22px;
      background: linear-gradient(
        45deg,
        #c3862b 0%,
        #f1d085 25%,
        #f3d169 50%,
        #e8a45c 75%,
        #b68340 100%
      );
    }

    .price {
      width: 65%;
      font-size: 24px;
      font-weight: 600;
      color: #f00;
    }
  }
}


.tabien-card {
  background: #fff;
  width: 100%;
  padding: 8px;
  border-radius: 16px;

  * {
    color: #000;
  }

  .tabien-thumb {
    width: 100%;
    position: relative;

    img {
      width: 100%;
    }

    .tabien-text {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      text-align: center;
      width: 100%;
      line-height: 1.3;
      height: fit-content;
      font-family: "Sarabun", sans-serif;

      .number {
        font-size: 38px;
        font-weight: 700;
      }
      
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0 0;

    .tabien-price {
      font-size: 12px;
      line-height: 1.2;
      font-weight: 300;

      strong {
        font-size: 16px;
        display: block;
        font-weight: 600;
      }
    }

    .sum {
      background: #f00;
      padding: 2px;
      font-size: 8px;
      color: #fff;
      text-align: center;
      width: 51px;
      height: 25px;
      line-height: 1;
      border-radius: 25px;
      
      strong {
        font-size: 14px;
        display: block;
        color: #fff;
      }
    }
  }
}