.detail-search {
  background: url("../images/bg-detail-search.jpg") no-repeat center / cover;
  min-height: 500px;
  display: flex;
  align-items: center;

  h2 {
    color: #fff;
    text-align: center;
    font-family: "Kanit", sans-serif;
    margin: 0 0 20px;
  }
}

.detail-tabien {
  padding: 40px 0;
  background: #efe8e2;

  .detail-tabien-content {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    width: 1080px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;

    .contact-top {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      gap: 10px;
      align-items: center;

      a {
        border-radius: 50%;
        overflow: hidden;
        display: block;
        width: 49px;
        height: 49px;
      }
    }
  }

  .left {
    width: 307px;
    flex-shrink: 0;
    max-width: 100%;
  }

  .right {
    width: calc(100% - 307px);
    max-width: 100%;
    padding-left: 22px;

    h1 {
      font-size: 50px;
      font-family: "Sarabun", sans-serif;
      font-weight: 700;
    }

    h2 {
      font-size: 30px;
      font-family: "Kanit", sans-serif;
      font-weight: 600;
      color: #f00;
      margin: 4px 0 12px;
    }

    h3 {
      font-size: 24px;
      font-family: "Kanit", sans-serif;
      font-weight: 400;
    }

    table {
      margin: 22px 0;
      width: 100%;

      td {
        padding: 12px 10px;
        font-size: 22px;

        &:first-child {
          width: 200px;
        }
      }

      tr {
        &:nth-child(odd) {
          td {
            background: #f7f5f2;
            border-top: 1px solid #3f3027;
            border-bottom: 1px solid #3f3027;
          }
        }
      }
    }

    .contact-button {
      display: flex;
      gap: 12px;
      flex-wrap: wrap;

      a {
        display: flex;
        align-items: center;
        gap: 12px;
        height: 60px;
        min-width: 305px;
        padding: 12px 30px;
        border-radius: 10px;
        color: #fff;
        font-size: 22px;
        font-weight: 700;
        font-family: "Kanit", sans-serif;

        &.line {
          background: #06C755
        }

        &.phone {
          background: #fff;
          color: #3f3027;
        }
      }
    }
  }
}


@include max-width-lg {
  .detail-tabien {
    .right {
      width: 100%;
      padding: 20px 0 0;
    }
  }
}

@include max-width-md {
  .detail-tabien {
    .right {
      h1 {
        font-size: 40px;
      }

      h2 {
        font-size: 26px;
      }

      h3 {
        font-size: 20px;
      }

      table {
        td {
          font-size: 16px;

          &:first-child {
            width: 130px;
          }
        }
      }

      .contact-button {
        flex-direction: column;
        gap: 12px;
      }
    }
  }
}

@include max-width-sm {
  .detail-tabien {
    .left {
      width: 100%;
      padding-top: 80px;
    }

    .tabien-card {
      .bottom {
        display: flex;

        .sum {
          width: 60px;
        }
      }
    }
  }
}