footer {
  background: $themecolor3;
  padding: 60px 0 80px;
  color: #fff;

  a {
    color: #fff;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
  }

  .left,
  .center,
  .right {
    flex: 1;
  }

  .left {
    .logo {
      width: 198px;
      display: block;

      img {
        width: 100%;
      }
    }

    h3 {
      font-size: 22px;
      margin: 18px 0 12px;
      font-weight: 600;
    }

    p {
      font-size: 16px;
    }

    a {
      display: block;
      font-weight: 600;
    }
  }

  .center {
    nav {
      a {
        display: block;
        padding: 6px 0;
        font-size: 16px;
      }
    }
  }

  .right {
    .dbd {
      display: block;

      p {
        margin: 12px 0 12px;
      }
    }

    .social {
      display: flex;
      gap: 25px;
      margin: 40px 0 0;

      a {
        border-radius: 50%;
        transition: all 300ms;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

.shadow {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  display: none;
}
