.card-tabein {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;

  &.card-special {
    background: #fff;
  }

  .tabien-thumb {
    position: relative;
  }

  .card-content {
    position: absolute;
    width: fit-content;
    height: fit-content;
    inset: 0;
    margin: auto;
    text-align: center;
    font-family: "Sarabun", sans-serif;

    p {
      margin: 0;
      font-size: 16px;
    }

    .card-title {
      font-size: 38px;
      font-weight: 700;
      margin: 15% 0 5px;
    }
  }

  .card-price {
    font-size: 24px;
    font-weight: 600;
    font-family: "Kanit", sans-serif;
    @extend .bg-gradient;
    color: #fff;
    height: 35px;
    border-radius: 2px;
    border: 2px solid #000000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.big {
    .card-content {
      .card-title {
        font-size: 58px;
      }

      p {
        font-size: 21px;
      }
    }
  }
}
